@import './page/page.scss';

.tab_1 {
  text-indent: 75px;
}
.tab_2 {
  text-indent: 100px;
}
.tab_3 {
  text-indent: 125px;
}
.note {
  color: #ac5715;
}
.left-margin {
  margin-left: 10px;
}
.top-margin {
  margin-top: 10px;
}
.right-margin {
  margin-right: 10px;
}
.bottom-marigin {
  margin-bottom: 20px;
}
