.image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px auto;
    padding: auto;
    width: 100%;
    height: 100%;
    .image-error {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        color: #c0c4cc;
        font-size: 16px;
        font-weight: 700;    
        background-color: #f5f7fa;
        width: 400px;
        height: 200px;
    }
}