.fileing {
  .tag-cloud {
    a {
      display: inline-block;
      @include tag(#ffffff, 15px, #409EFF);
      @include marginSet(5px 5px);
      @include paddingSet(5px 10px);
      background-color: #409EFF;
      font-weight: bolder;
      &:hover {
        cursor: pointer;
        background-color: #67C23A;
        border-color: #67C23A;
      }
    }
  }
  .fileing-list {
    text-align: left;
    .member {
      @include paddingSet(10px);
      .tag-info {
        height: 30px;
        line-height: 30px;
        span {
          color: getBodyValue('fileing','tagColor');
          font-weight: 800;
          font-size: 20px;
          .icon {
            margin-right: 10px;
            color: getBodyValue('fileing','tagColor');
          }
        }
      }
      .page-list {
        a {
          &:hover {
            cursor: pointer;
            color: getBodyValue('fileing','pageListHover');
          }
        }
      }
      .no-page {
        text-align: center;
      }
    }
  }
}
