.fileing {
  .tag-cloud {
  }
  .fileing-list {
    text-align: left;
    .member {
      @include paddingSet(10px);
      .tag-info {
        height: 30px;
        line-height: 30px;
        span {
          color: getBodyValue('fileing','tagColor');
          font-weight: 800;
          font-size: 20px;
          .icon {
            margin-right: 10px;
            color: getBodyValue('fileing','tagColor');
          }
        }
      }
      .page-list {
        a {
          &:hover {
            cursor: pointer;
            color: getBodyValue('fileing','pageListHover');
          }
        }
      }
      .no-page {
        text-align: center;
      }
    }
  }
}
