.header {
  @include paddingSet(85px 0 55px 0);
  color: getStructureValue('header', 'color');
  background-color: getStructureValue('header', 'backColor');

  .subTitle {
    @include subTitle(18px);
  }

  .createTime {
    @include createTime(18px);
  }

  .tags {
    .tags_label {
      color: getStructureValue('header', 'color');
      background-color: getStructureValue('header', 'backColor');
      border: 1px solid getStructureValue('header', 'color');
      border-radius: 999em;
      @include paddingSet(5px 10px);
      @include marginSet(0 10px 6px 0);
      font-size: 14px;
      line-height: 24px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
