.page {
  margin-left: 10px;
  margin-right: 10px;
  .title {
    h1 {
      color: $titleColor;
      font-weight: bolder;
    }
  }
  .font_emphasize {
    font-weight: bolder;
    color: $fontEmphasize;
  }

  .code {
    background-color: $codeBackColor;
    padding: 10px;
    color: $codeColor;
    border-radius: 15px;
    text-align: left;
    text-indent: $codeTextIndent;
    border: 1px solid #f8f8f8;
    .code_font {
      font-weight: bolder;
      font-size: 16px;
    }
  }

  .paragraph {
    text-align: left;
    p {
      text-indent: 30px;
    }
  }

  .summary {
    color: $summaryColor;
    border-left: 3px solid #dfe2e5;
    background-color: $summaryBackColor;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    span {
      padding-left: 30px;
    }

    .code {
      background-color: $codeBackColor;
      padding: 10px;
      color: $codeColor;
      border-radius: 15px;
      text-align: left;
      text-indent: $codeTextIndent;
      border: 1px solid #f8f8f8;
      margin: 0px;
      width: 100%;
    }
  }
}
