.page {
  @include marginSet(60px 10px 0 10px);
  .title {
    h1 {
      color: getPageValue('utils', 'titleColor');
      font-weight: bolder;
    }
  }
  .font_emphasize {
    font-weight: bolder;
    color: getPageValue('utils', 'fontEmphasize');
  }

  .code {
    background-color: getPageValue('code', 'backColor');
    @include paddingSet(10px);
    @include marginSet(10px 0 0 0);
    color: getPageValue('code', 'color');
    border-radius: 15px;
    text-align: left;
    text-indent: getPageValue('code', 'textIndent');
    border: 1px solid #f8f8f8;
    @include overflow('x');
    .code_font {
      font-weight: bolder;
      font-size: 16px;
    }
    .note {
      color: getPageValue('utils', 'noteColor');
    }
  }

  .paragraph {
    text-align: left;
    p {
      text-indent: 30px;
    }
  }

  .summary {
    color: getPageValue('summary', 'color');
    border-left: 3px solid #dfe2e5;
    background-color: getPageValue('summary', 'backColor');
    font-size: 16px;
    font-weight: bolder;
    @include paddingSet(10px);
    text-align: left;
    @include marginSet(0 10px 0 10px);
    span {
      @include paddingSet(0 0 0 10px);
    }

    .code {
      background-color: getPageValue('code', 'backColor');
      @include paddingSet(10px);
      color: getPageValue('code', 'color');
      border-radius: 15px;
      text-align: left;
      text-indent: getPageValue('code', 'textIndent');
      border: 1px solid #f8f8f8;
      @include marginSet(0);
      width: 100%;
    }
  }

  a {
    color: getPageValue('utils', 'hrefColor');
    font-weight: 500;
    text-decoration: none;
  }
}
