.container {
  @include marginSet(0 auto);
  @include paddingSet(15px);
  overflow-x: hidden;
  @media screen and (min-width: 760px) {
    width: 750px;
  }
  @media screen and (min-width: 992px) {
    width: 970px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }

  .page-list {
    width: 100%;
    text-align: left;
    @include marginSet(0 auto 0 auto);

    .page-info {
      a {
        color: getBodyValue('pageList', 'color');

        .title {
          font-size: 27px;
          .top {
            @include top();
          }
        }

        .subTitle {
          @include subTitle(14px, getBodyValue('pageList', 'subTitle'));
          font-style: italic;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .createTime {
        @include createTime(18px, getBodyValue('pageList', 'createTime'));
        font-style: italic;
      }
    }
  }

  .tag-list {
    text-align: left;
    @include marginSet(0 0 0 15px);
    @media screen and (max-width: 780px) {
      @include marginSet(0);
    }
    .body {
      h4 {
        @include subTitle(16px, getBodyValue('tagList', 'h4'));
        font-weight: bolder;
      }

      .list {
        @include marginSet(20px 0 0 0);
        a {
          display: inline-block;
          @include tag(getBodyValue('tagList', 'color'), 14px, getBodyValue('tagList', 'borderColor'));
          line-height: 24px;
          margin-right: 5px;
          &:hover {
            cursor: pointer;
            color: getBodyValue('tagList', 'hover');
            border-color: getBodyValue('tagList', 'hover');
          }
        }
      }
    }
  }

  @import './fileing.scss';
  @import './catalogue.scss';
  @import './paging.scss';
}
